services:
  # Enable Traefik API and Dashboard
  traefik:
    environment:
      TRAEFIK_API: "true"
      TRAEFIK_API_INSECURE: "false"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.${DOMAIN}`)"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.middlewares=traefik-auth"
      - "traefik.http.routers.traefik.entrypoints=${TRAEFIK_ENTRYPOINT}"
      - "traefik.http.routers.traefik.tls.certresolver=${TRAEFIK_TLS_CERTRESOLVER}"
      - "traefik.http.middlewares.traefik-auth.basicauth.users=${TRAEFIK_BASIC_AUTH_CRED}"
